*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.nav{
  background-image: linear-gradient(47deg, hsla(0, 100%, 80%, 0.2), #fff 25%, rgba(255, 255, 255, 0.86) 50%, rgba(255, 255, 255, 0.74) 75%, hsla(0, 100%, 80%, 0.2));
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.dropdown {
  position: relative;
  display: block;
  font-family: Poppins, sans-serif;
  z-index: 1;
}

.dropdown p{
  background-color: #e53535;
  padding: 10px;
  color: white;
  font-weight: 300;
  text-align: center;
  border-top-right-radius:10px ;
  border-top-left-radius:10px ;
  min-width: 450px;
  cursor: pointer;
}

.dropdown-content {
  text-align: center;
  height: 0;
  position: absolute;
  overflow: hidden;
  width: 0px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: border-box;
  z-index: 1;
  background: white;
  padding: 0 16px;
  width: 100%;
  line-height: 25px;
  border-bottom-right-radius:10px ;
  border-bottom-left-radius:10px ;
  border-bottom: 10px solid #e53535;
  transition: height 0.5s steps(20);
}

.dropdown-content li {
display:  flex;
flex-wrap: wrap;
margin: 10px 0px;
font-size: 14px;
}

.buscarParametro{
  font-size: 12px;
  font-weight: 100;

}
.dropdown:hover .dropdown-content {
  height: 300px;
  padding: 10px 16px;

}
.dropdown-content li{
  border-bottom: 1px solid rgb(240, 240, 240);
  cursor: pointer;
}

.dropdown-content li:hover{
  background-color: #dd7676;
  transition: background 0.5s;
}


.btn{
  padding: 5px 20px;
  cursor: pointer;
}
.btn-guardar{
  background-color: #e53535;

}

.scroll{
  overflow-x: hidden; 
  overflow-y: scroll;
  width: 100%; 
}

.input-search{
  height: 25px;
  margin: 5px;
}